.banner{
	height: 150px;
	background: #324c33;
}
.navbar .navbar-nav {
	display: inline-block;
	float: none;
	vertical-align: top;
}

.navbar .navbar-collapse{
	text-align: center;
}
.navpsg{
	color: white;
	background: #030;
}
.navbar-default .navbar-nav > li > a{ 
	color: white;
}
.navbar-default .navbar-brand{
	color: white;
}
.bgpsg{
	background: #334d34;
}
.container-fluid{
	padding-right: 0;
	padding-left: 0;
}
textarea{
	height:120px;
}
h1, h2, h3, h4{
	text-align: center;
}
body{
	background: #324c33;
	color: white;
}
.formulario{
	margin-left: 10%;
}
.boxAcessoUsuario{
	text-align: center;
}
/* BOOTSTRAP //////////////////////  */
.form-control{
	width: 75%;
}
.modal-header{
	background: #fff4c8;
}
.navbar-default{
	border: none;
}
.modal{
	color: black;
}
