.banner{
	height: 150px;
	background: #324c33;
}
.navbar .navbar-nav {
	display: inline-block;
	float: none;
	vertical-align: top;
}
.navbar .navbar-collapse{
	text-align: center;
}
.navpsg{
	color: white;
	background: #030;
}
.navbar-default .navbar-nav > li > a{ 
	color: white;
}
.navbar-default .navbar-brand{
	color: white;
}
.bgpsg{
	background: #334d34;
}
.container-fluid{
	padding-right: 0;
	padding-left: 0;
}
textarea{
	height:120px;
}
h1, h2, h3, h4{
	text-align: center;
}
body{
	background: #324c33;
	color: white;
}
.formulario{
	margin-left: 10%;
}
.boxAcessoUsuario{
	text-align: center;
}
.form-control{
	width: 75%;
}
.modal-header{
	background: #fff4c8;
}
.navbar-default{
	border: none;
}
.modal{
	color: black;
}
.conteudo-principal{
	text-align: center;        
}
.iconsdetalhe{
	width: 100px;        
	background: white;
	padding: 20px;
	border-radius: 30px; 
}
.institucional{
	background: none;
}
.institucional h1{
	font-size: 30pt;
}

.institucional div{
	margin-top: 40px;
}

.institucional button{
	margin-top: 40px;
}   

@media screen and (min-width: 992px) {
	.content-aside{
		width: 60%;
		margin:auto;
	}
}
.video{        
	width:65%;        
	margin: 0px auto;
}

@media screen and (min-width: 768px) {
	.video{        
		width: 75%;        
		margin: 0px auto;
	} 
}

@media screen and (min-width: 992px) {
	.video{        
		width: 35%;        
		margin: 0px auto;
	}
}

.orcamento{
	display: block;
	float: right;
	margin-right: 10px;        
	margin-bottom: 30px;
}
.newsletter{
	margin-top: 30px;        
}
.newsletter div{
	margin-top: 5px;
}
#carousselBanner img{

}
.carousel-control{
	width: 35%;
}