#master-institucional{
    width: 100%;
    height: 100%;
    background: #7ed595 ;
    color: #030;
    margin-top: -20px;
}

#master-servicos{
    width: 100%;
    height: 100%;
    background: #fff ;
    color: #030;
    margin-top: -20px;
}
#master-servicos ul{
    list-style: none;    
    text-align: center;    
}

#master-servicos li{    
    display: inline-block;
    vertical-align: top;    
    padding: 10px;
}

#master-servicos li p{
    max-width: 150px;
}

#master-servicos li a{
    color:#030;
}

.banner{
    height: 120px;
    background: #324c33;
    background-image: url(../img/psg.jpg);
    text-align: center;
}
.banner img{
    margin-top: 8px;
}
.navbar .navbar-nav {
    display: inline-block;
    float: none;
    vertical-align: top;
}
.navbar .navbar-collapse{
    text-align: center;
}
.navpsg{
    color: white;
    background: #030;
}
.navbar-default .navbar-nav > li > a{ 
    color: white;
}
.navbar-default .navbar-brand{
    color: white;
}
.bgpsg{
    background: #334d34;
}
.container-fluid{
    padding-right: 0;
    padding-left: 0;
}
textarea{
    height:120px;
}
h1, h2, h3, h4{
    text-align: center;
}
body{
    background: #324c33;
    color: white;
}

.boxAcessoUsuario{
    text-align: center;
}

.modal-header{
    background: #b5d2ac;
}
.navbar-default{
    border: none;
}
.navbar-default .navbar-nav > li > a:hover{ 
    background-color: white;
}

.modal{
    color: black;
}
.conteudo-principal{
    text-align: center;        
}
.iconsdetalhe{
    width: 60px;        	
}
.institucional{
    background: none;
}
.institucional h1{
    font-size: 30pt;
}

.institucional div{
    margin-top: 40px;
}

.institucional button{
    margin-top: 40px;
    background: #030;
    border: none;    
    height: 40px;
} 
.institucional hr{
    border-top-color: #030; 
}
.orcamento{
    display: block;
    float: right;
    margin-right: 10px;        
    margin-bottom: 30px;
}
.newsletter{
    margin-top: 30px;        
}
.newsletter div{
    margin-top: 5px;
}

.clientes ul{
    background: white;
    margin-top: 20px;
    list-style: none;   
    padding: 30px;
}

.clientes li{
    display: inline-block; 
}

.certificacoes ul{
    background: white;
    margin-top: 20px;
    list-style: none;
    padding: 30px;
}

.certificacoes li{
    display: inline-block; 
}

.certificacoes img{
    margin: 10px;
    width: 80px;
}

.video{        
    width:65%;        
    margin: 0px auto;
}

.container-produtos{
    background: white;
    color: #030;
}

.container-produtos ul{
    margin-top: 60px;
    list-style: none;
    text-align: center;
}

.container-produtos ul li{
    display: inline-block;
    vertical-align: top;
    text-align: center;
    margin: 10px;
    padding: 10px;    
}

.container-produtos ul li img{
    width: 80px;
    border-radius: 100px;       
}
.container-produtos a {
    color: #030;
}


.items-modal {
    margin: 0px auto;
    text-align: center;
}
.items-modal img {
    width: 70px;    
}

.contato{
    text-align: center;    
}
.contato iframe {
    float: right;
    width: 100%;
    height: 320px;
}
.contato button{
    width: 20%;
}

.navbar-default .navbar-toggle{
    border: none;
}
.navbar-default .navbar-toggle,
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #003300;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: white;
}
@media screen and (min-width: 768px) {
    .video{        
        width: 75%;        
        margin: 0px auto;
    } 
}
@media screen and (min-width: 992px) {
    .video{        
        width: 35%;        
        margin: 0px auto;
    }
    .content-aside{
        width: 60%;
        margin:auto;
    }
}